[2013-05-29 16:33] lukescott opened #1 "Support multiple sections"
I need to add support for multiple sections - that is dragging an item from one section to another. This shouldn't be too difficult.

[2013-06-01 07:11] lukescott commented on #1
I now have some working code. It's a bit verbose at the moment. Will have to clean it up a bit before I push.

[2013-06-02 00:48] #1 closed, assigned to lukescott

[2013-06-03 02:18] lukescott opened #2 "Closest index tracking"
Currently use `indexPathForItemAtPoint:` to determine where to move the cell. This requires an item to directly intersect another to move it. Need to make a new function to determine the closest index instead for more fluid response and greater flexibility.

[2013-06-03 02:19] lukescott opened #3 "Folder support"
Need to add folder support after adding "closest index tracking".

[2013-06-10 06:17] lukescott opened #4 "Section doesn't expand/retract when it should"
When you move a cell to another section and it ends up creating another row that section's height doesn't increase (which should push the others down). The reverse is also true: If you move a cell away from a section and it removes a row, that section's height isn't reduced.

This happens while dragging though. When you let go it corrects itself. The animation was messed up when this happened, but

[2013-06-20 10:58] AndrewHartAR opened #5 "Problem dragging in flowlayout when only 1 section"
It took me a while to find the problem here.

If there's only 1 section, there's an additional, unwanted animation when dragging a cell to a new position, when you let go of the object. Every object which moves as part of the change  actually animates into it's new position, behind a copy of itself. It's difficult to explain, but if you start the flowlayout demo, and change SECTION_COUNT to 1, and

[2013-06-20 15:32] lukescott commented on #5
I see what you mean. It looks like this problem was introduced as a result of my last commit. Strange, this is something I would have noticed. Trying to find a fix that solves both problems. In the mean time if you roll back the last commit on your last copy that should work fo now, until I'm able to find a more permanent solution.

[2013-06-20 19:12] lukescott commented on #5
This should fix the issue. Let me know.

[2013-06-22 20:49] AndrewHartAR commented on #5
That's fixed it. Thanks, and great work :)

[2013-06-22 20:49] #5 closed, assigned to lukescott

[2013-06-22 22:18] AndrewHartAR opened #6 "Unmoveable objects support?"
I'm going to make a request here which is maybe a little complicated but crucial to my usage.

The last item in section 0 is a button. The idea is, I want the user to be able to switch around all the other icons, but have them not able to put any icons after that particular one.

I know this is kind of difficult - the situation where it's mid-way through is probably impossible, because it has to m

[2013-06-22 23:13] lukescott commented on #6
Just added support for this. Try 5f3dbf27a56b1f678df89bf9a11f8d3b5c8d5995 (last commit). Needed this in a project I'm doing as well, just hadn't gotten around to it yet.

[2013-06-24 11:24] AndrewHartAR commented on #6
Great implementation of this, thanks.

[2013-06-24 11:24] #6 closed, assigned to lukescott

[2013-07-03 11:08] visualication opened #8 "Need help"
Hi,
thx for your work. but i dont't get it run :(

I have a collection view with only one section, so my datasource is an array with "pages" objects. when a drag a cell to a new position, the animation is ok and the other cells are moving corractly. when i drop the cell, the cell that is now on the position of the dragged cell, returns to the content of the dragged cell.

in short: if i have two c

[2013-07-03 12:03] visualication commented on #8
ok, i found the problem: after moving i had called [collectionView reloadData]. after deleting this call the moving works fine :-)

[2013-07-03 14:17] lukescott commented on #8
The reload/insert/move/delete functions are used when the data source has changed, but the `UICollectionView` doesn't know it. You only used `reloadData` when your data has completely changed. `reloadItemsAtIndexPaths` could be used if the cell class has changed.

In the case of the user dragging, the `UICollectionView` knows this, and lets you know to update your datasource. So you don't have to

[2013-07-03 14:17] #8 closed, assigned to nobody

[2013-07-09 00:19] ubercolin opened #9 "Multiple selection drag and drop"
I have an implementation of a multiple item grid selection drag and drop (i.e. with an Edit mode where you tap on multiple items and then initiate the drag)  that I've done with a framework for iOS5 and am in the process of converting it to work with UICollectionViews.

I'm tempted to extend DraggableCollectionView to handle this, but am wondering if you've had any thoughts about this? It seems li

[2013-07-09 00:53] lukescott commented on #9
You wouldn't have to change the data source. The code you want to look at is in LSCollectionViewLayoutHelper.m. This works by incrementing / decrementing the item of `NSIndexPath`.

To be honest I'm not sure how you would implement this UI wise. I'd have to see a demo of what you did in iOS 5 to really comment further.

[2013-07-09 01:26] ubercolin commented on #9
I made a video that shows a little bit of what I had been doing:
https://www.dropbox.com/s/ypyni07xwv9x68b/MultiItemDrag.mov

The basic flow here is:
- I have a grid with five items
- I enter an edit mode, to allow multiple selection
- I tap on the second and third items to select them
- I tap and hold on the third item to initiate the drag (I happened to start dragging on the third)
- The two sel

[2013-07-12 07:52] mRs- opened #10 "Paging Support"
I would like to have a Paging Support for this awesome Addition.

I think it have to be implemented in the handlePanGesture: method with a "pagingEnabled" property.

[2013-07-12 14:58] lukescott commented on #10
This is a bit tricky. `handleScroll:` does the actual scrolling on a timer. You would probably have to disable `handleScroll:` and implement the paging in `handlePanGesture`. A bit tricky, but doable. I would imagine you'd want to only have it paginate when the user moves toward and is inside the edge offset - you wouldn't want it advancing to the next page if they were moving away from the edge.

[2013-07-15 04:15] #2 closed, assigned to nobody

[2013-07-15 04:29] lukescott commented on #9
That is definitely complicated. What LSCollectionViewLayoutHelper does it it changes the index paths of the UICollectionViewLayoutAttributes's to make them move. You just have to make sure there isn't an NSIndexPath that doesn't exist (otherwise UICollectionView throws an exception). The physical positions are just traded around.

In order to do what you want you'd have to have the missing cells e

[2013-07-15 06:28] lukescott commented on #10
I've played with this a bit. My first attempt was to change the CADisplayLink's frameInterval to 60 (1 per second) and up the distance to a full page width. Not quite working yet.

[2013-07-22 19:18] rtsao opened #11 "Crash when using adding section headers"
I am running the FlowLayoutDemo, but when I try adding section headers and pick up a cell to move, I get a crash as soon as I release the item or drag it over another.

[code]

[2013-07-22 19:51] lukescott commented on #11
Can you provide the backtrace? Screenshot will do.

[2013-07-22 22:05] rtsao commented on #11
![screen shot 2013-07-22 at 3 04 40 pm](https://f.cloud.github.com/assets/780408/838276/c983bdb2-f31a-11e2-9ea6-09ae94076dd1.png)

[2013-07-22 22:18] lukescott commented on #11
You're missing your `collectionView:viewForSupplementaryElementOfKind:atIndexPath:` delegate call, or you're not returning a view for `UICollectionElementKindSectionHeader` in it. If you do have one and the code looks right, check to make sure the Storyboard has the same `Identifier` applied and the storyboard is saved. Might have to do a Build -> Clean.

[2013-07-22 22:45] rtsao commented on #11
Thanks, that seems to have fixed my problem!

[2013-07-22 22:45] #11 closed, assigned to nobody

[2013-07-23 00:52] lukescott commented on #9
For now this isn't something I'm able to do.

[2013-07-23 00:52] #9 closed, assigned to nobody

[2013-07-23 00:53] lukescott commented on #10
If anyone wants to implement this, please send a pull request.

[2013-07-23 00:57] lukescott commented on #4
Closing this for now. There doesn't seem to be much I can do about this for now.

[2013-07-23 00:57] #4 closed, assigned to nobody

[2013-07-23 00:58] ubercolin commented on #9
Agreed. If I have time, I'll take a crack at it; it'll either need to have a subclass of the data source or hijack the datasource during dragging.

[2013-07-25 17:36] pronebird opened #13 "Selected cell hides selectedBackgroundView on dragging of neighbor cell"
Hi,

If I don't miss anything in my implementation then I found a bug. If I select the first cell and then hold a finger on the second cell, the second cell gets selected for some time (e.g. shows my customized selectedBackgroundView), then longtap recognizer triggers and selection state gets cancelled, the first cell then loses selected state as well, but it's only a graphical defect, in fact If

[2013-07-25 18:09] lukescott commented on #13
I'm not sure if I fully understand. Do you mean highlighted or selected states? Can you reproduce this in the FlowLayoutDemo? Do you need to modify the demo to reproduce? Can you give me step by step in the FlowLayoutDemo?

[2013-07-25 18:17] lukescott opened #14 "Centroid issue"
When you hold your finger over a cell and start dragging, then place a second finger on the screen it uses the center position between both fingers rather than the position of the first finger.

Need to adjust the gesture to only use one finger in some way.

[2013-07-25 18:20] lukescott opened #15 "Crash with two fingers & centroid issue"
If you hold your finger on one cell, then place a finger on the other the center of the two fingers is used (different issue). When you lift the first finger it crashes with:

**\* Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'request for number of items before section 2147483647 when there are only 5 sections in the collection view'

I suspect it might hav

[2013-07-25 18:33] pronebird commented on #13
I do not set a view for highlighted state, I only set selectedBackgroundView, so I see my custom selectedBackgroundView displayed when I hold a finger on cell before long tap recognizer triggers. I'll try to reproduce it in FlowLayoutDemo and give you more information on that.

[2013-07-25 19:55] pronebird commented on #13
I managed to reproduce it, here is the change set to bring selectedBackgroundView to FlowLayout demo: https://github.com/pronebird/DraggableCollectionView/commit/c2ebd9a8b1f269d2540994677683f570e77fff30

Steps to reproduce:
1. Select any cell
2. Long tap on any neighbor cell. Previously selected cell visually lose the selection appearance, tapped view displays as selected before long tap recognize

[2013-07-26 20:51] jessegrosjean opened #16 "Handle different sized items"
First thanks for writing this class, I'm having fun trying it out. And very possibly this isn't a bug, just a user error. I'm trying to user DragableCollectionView with items of different sizes. I've done this by overriding this method in my collection view controller:

[code]

So my first cell is 88 everything else is 44. (I realize hardcoding this way won't work generally, but I think it is simp

[2013-07-26 20:57] jessegrosjean commented on #16
As an update to this, it seems like this fork of LXReorderableCollectionViewFlowLayout fixes a similar issue:

https://github.com/selasie/LXReorderableCollectionViewFlowLayout/commit/a9dd083bd16367bc99d2eb7471a50472c0a112d2

Maybe same approach could also solve this problem?

[2013-07-26 21:23] lukescott commented on #16
I'm not sure there is much I can do about this.

`DraggableCollectionView` works by mutating the results from `UICollectionViewLayout`'s `layoutAttributesForElementsInRect:` method, specifically by changing the indexPath. It actually doesn't change the data source until the user lets go, which is optimal for large data sources. When layoutAttributesForElementsInRect is called, it in turn calls the

[2013-07-26 21:28] jessegrosjean commented on #16
Thanks for your quick feedback. I'll try to think about it a little more and let you know if I come up with anything.

[2013-07-26 21:29] lukescott opened #17 "Dragging seems a bit slugish on device since closest index update"
I didn't notice this is simulator, but the dragging seems a bit sluggish to me since 509427281a41c4a69d83dd4444fe8842f6a9b968 on a physical iPad. Maybe I'm just imagining it.

I think it might have to do with the "closest item" changing too frequently, causing the layout to be regenerated more often. I'll have to run some tests to confirm.

Maybe adding some sort of small delay in re-ordering woul

[2013-07-27 02:04] jessegrosjean commented on #16
Sorry about that close/reopen... clicked the wrong button.

Anyway, I've found something that works for my particular case. Here's what I'm doing:

[code]

[code]

[code]

I'm sure a smarter person could make the logic in that last method a bit cleaner, but it seems to work and I'm to tired! :) Anyway, possibly there's some big edge cases that I'm missing, but everything seems to work pretty good

[2013-07-27 23:33] lukescott commented on #17
I ran the demo through profiler, and I guess I was imagining it. Close to 60 fps.

[2013-07-27 23:33] #17 closed, assigned to lukescott

[2013-07-31 05:35] tonyarnold opened #18 "Exception from layoutAttributesForItemAtIndexPath"
I have a collection view with 4 sections — everything except for the second section is static, and cannot be dragged.

I'm seeing an out of bounds exception when trying to drag any cell (on long press), which is bringing everything to a screeching halt.

What can I provide (short of the whole project) to help debug this?

[2013-07-31 15:16] lukescott commented on #18
If you can reproduce with the Flow layout demo, that would help me debug it. Precise steps, referring to cell letter and number, of how it happened would help.

I would only need a video if it was something hard to reproduce.

[2013-08-01 00:54] tonyarnold commented on #18
Luke, this might well be my use of NSFetchedResultsController to back this collection view. I'll try to repro anyway and get back to you with more details (or close the issue).

[2013-08-05 14:03] thkus opened #19 "Current indexpaths while warping cells"
Hi Luke,

i'm having the issue that, while dragging cells around their indexpath is not updated.
My goal is to prevent dragging cells inbetween certain other cells therefore i check what kind of cell is underneath the current index, the index before and the index after.
Unfortunately this doesn't work anymore once the cells start warping.

Do you have any suggestion on where to start?

Thanks in a

[2013-08-06 10:40] thkus commented on #19
Hmm i think i figured it out.
I stopped checking while i was dragging, but i checked instead when i rearrange the items in

[code]

Then i simply decide wether i want to really insert the item there or not.
Sorry for the obsolete issue!

PS: It's a really nice module, thanks for your hard work!

[2013-08-06 10:40] #19 closed, assigned to nobody

[2013-08-29 08:24] benoit-pereira-da-silva opened #21 "When Keyboard is visible dragging produces an Exception"
Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[UICollectionViewUpdateItem action]: unrecognized selector sent to instance...

May be we should register for the key board notification or inject the action method using objc runtine (ex : http://stackoverflow.com/questions/12894172/deleting-cells-from-uicollectionview-via-nsnotification)

[2013-08-29 09:14] benoit-pereira-da-silva opened #23 "Please add a podspec"
This work worths to be integrated via cocoapods.

[2013-08-29 14:45] lukescott commented on #21
I am familiar with this. I assume you have a field in your cells? This is an issue with iOS 6, and is fixed in iOS 7.

What does your patch actually do?

[2013-08-29 14:49] lukescott commented on #18
Please let me know if you still have this issue.

[2013-08-29 14:49] #18 closed, assigned to nobody

[2013-08-29 14:50] lukescott commented on #23
Keep an eye on #20. That pull request had an added podspec. Will be looking at it soon.

[2013-08-29 14:58] benoit-pereira-da-silva commented on #21
My patch sets the LSCollectionViewHelper "enabled" property to false when the keyboard appears, and resets to its previous value when the keyboard hides. It is not very intrusive.

[2013-08-29 15:02] benoit-pereira-da-silva commented on #23
Sure but it points to its fork, the very best solution would be to write your own and to add it to the official cocoapods specs. https://github.com/CocoaPods/Specs

[2013-08-29 15:05] lukescott commented on #23
Oh, thanks for pointing that out. I had not noticed that. I'll have to do a partial merger and add my own.

[2013-08-29 15:06] benoit-pereira-da-silva commented on #21
My pull request fixes the IOS6.X crash + also corrects a very weird behaviour when using a collection view with an editable text on IOS7.

[2013-08-29 15:13] lukescott commented on #21
Can you please go into more detail about the "weird behavior" in iOS 7?

For iOS 6, unfortunately the fix is to use the code in the SO answer. You'll find this can come up in other areas, and that preventing DraggableCollectionView from dragging isn't enough.

[2013-08-29 15:16] benoit-pereira-da-silva commented on #21
The SO answer do not fix my case, it produces sort of a temporary cell. I haven't seen any issue with my fix on 6.X & 7.X even after extensive tests. And using a runtime selector injection is really not a recommended way.

[2013-08-29 15:18] benoit-pereira-da-silva commented on #21
On IOS7 i have while dragging (keyboard opened) a secondary cell that appears.

[2013-08-29 15:29] lukescott commented on #21
I'll do some research on this to see if I can fix the temporary cell problem. Unfortunately this runtime fix is necessary for iOS 6. If you try something like `insertItemsAtIndexPaths:` while the keyboard is up, you'll get the same crash.

[2013-08-30 01:49] b051 commented on #23
sure, you can create your own, or I can point mine to yours.

[2013-09-10 13:14] martijnpolak commented on #15
Hi, I'm running into this issue and it looks like you can simply avoid it by setting maximumNumberOfTouches on _panPressGestureRecognizer to 1 in LSCollectionViewHelper::initWithCollectionView. You just have to define the property as a UIPanGestureRecognizer (instead of a UIGestureRecognizer) in the header file. Looking at the odd behaviour we get when using multi touch this might be the simplest

[2013-09-12 15:01] simplelife-patrick opened #24 "Mock cell generated in long press event can not support custom UICollectionView class."
Below codes part is form the hanleLongPressGesture: methods in LSCollectionViewHelper.m file:

[code]

If I use a custom UICollectionView class, how can I make the same effect in demo app(like UICollectionViewCell object turns dark once be long pressed, and turns bigger(110%) than original size during the drag operation? (By testing custom cell can't have the same effect)

Thanks.

[2013-09-17 13:06] peymankh4 opened #25 "LongPress on an empty area of the collectionView causes the app to crash"
If the long press is not happening on the cell but on the empty space of the UICollectionView, it causes an NSRangeException.

You can reproduce the bug from the FlowLayoutDemo app.

[2013-09-20 23:16] lukescott commented on #16
I have a way of fixing this now, it's just going to take a rewrite to make it work. Instead of doing the warping logic in `layoutAttributesForElementsInRect:`, it will happen in `prepareLayout`, which is where the layout calculations happen in most layouts.

Unfortunately this makes it harder to implement dragging and dropping in custom layouts, and Apple's Flow layout has to be rewritten on top o

[2013-10-01 14:52] bentech commented on #25
I also have this problem

[2013-10-02 09:54] pucktada opened #27 "Snapshotting a view that has not been rendered results in an empty snapshot. Ensure your view has been rendered at least once before snapshotting or snapshot after screen updates."
get this error sometimes, when drag and dropping to item (can reproduce in Flowlayout Demo sometimes, cant figure out a way to consistenly make it happen yet, but i can get it to show up once per 4-5 tries). After some investigations, i think it occurs in
- (void)warpToIndexPath:(NSIndexPath *)indexPath

in the performBatchUpdates ...

[code]

I dont know why though, any idea?

[2013-10-07 08:09] platapus94 opened #28 "Prevent Cells from Reorganizing Themselves"
I'm trying to alter the LSCollectionViewLayoutHelper file to allow me to simply exchange position of the cells without altering the position's of the other cells. For example, I drag a cell from the 3rd row 2nd column, to the 2nd row 2nd column, then instead of switching position's, the cell in the 2nd row 2nd column gets pushed down to the 3rd row 1st column.

How would I be able to prevent this?

[2013-10-07 19:03] platapus94 commented on #28
under the method modifiedLayoutAttributesForElements in the helper LSCollectionViewLayoutHelper under the logical statements if(indexPath.item <= fromIndexPath.item && indexPath.item > toIndexPath.item)
and
else if(indexPath.item >= fromIndexPath.item && indexPath.item < toIndexPath.item)

, if you switch the layoutAttributes.indexPath variable to

layoutAttributes.indexPath = [NSIndexPath indexPa

[2013-10-07 19:09] lukescott commented on #28
I'm not entirely clear on what you're trying to do. The way DraggableCollectionView currently works is it exchanges index paths of what is visible.

I do have a rewrite coming down the pipe that works quite differently. It allows you to hide any number of items and place a placeholder at any index, while the layout itself is being computed. I'm not sure if that will be of any help.

[2013-10-07 19:13] platapus94 commented on #28
I have a DraggableCollectionView instantiated with 6 objects. Picture A Collection View with 3 rows and 2 columns, so theres 2 cell's in each row. If I were to switch the cell's of a row (like exchange cell at index 0 with index 1), they change fine. However, if I switch cell at index 1, with index 5 (the cell on the first row, 2nd column, with the cell at the 3rd row 2nd column) instead of switch

[2013-10-07 19:19] platapus94 commented on #28
It seems like, despite what is shown on the layout, the array is computed differently and returned upon the ending of the warping process.

[2013-10-07 19:19] lukescott commented on #28
I understand what you're saying. You simply want to swap the two cells. That's not generally how drag and drop works. Drag and drop is more of remove then insert function, hence the re-ordering. You could "swap" them in two steps by doing two drags.

[2013-10-07 19:21] platapus94 commented on #28
Would that work for larger collections however? What if I have 5 rows and 4 columns? Would I have to perform more drags?

If this is what it'll take to make the switch (and let me first thank you very much, not only for this library but also for your help), which method would I specifically call to try and get this drag done?

[2013-10-07 19:23] platapus94 commented on #28
Judging by where the remove/insert function is, I'm guessing I'd probably do this under moveItemAtIndexPath method of my collection's view controller

[2013-10-07 20:41] platapus94 commented on #28
never mind I got it working, thank you very much for your insight!

[2013-11-03 17:31] dawgless commented on #28
platapus94, I'd like to do the same thing. Can you share your modifications to allow simple swapping of cells?

[2013-11-27 15:02] lukescott opened #30 "(README) Help Wanted"
As many of you are aware I have not been very active lately. The reason for this is I am involved with a major project for work that takes up most of my time. What's left over I used to spend on side projects. I've come to realize that I need to spend more time with family, and I've been doing that. When the project is done I'll have more energy to spend on projects like this.

I'll be spending wh

[2013-11-28 06:23] simplelife-patrick opened #31 "The cell is being dragged should be set to "selected" status if possible."
I have a collection view which can drag and drop cells based on this library, and my cell can be single-selected(like cell border's color change). If I have selected cell A, and then long press cell B to trigger dragging, the selected status can not move from cell A to cell B.
In order to resolve this issue, I put some codes like below into LSCollectionViewHelper.m - (void)handleLongPressGesture:(

[2013-12-30 11:49] GauravNigam opened #32 "Issues in iOS7 Related to Drag & drop for one rows between the sections"
Issues

1: When i am dragging a cell from second section to first section at that time cell is not  insert at the last cell of first section.
2: when i am dragging a cell from one section to other section and return back to previous one at that time its overlap with other cell and also the cause of exception.

3: when i am dragging a cell from one section to an empty section at that time i am not

[2014-01-21 00:31] edcruise opened #33 "Cell does not move outside the CollectionView"
Hi there,
it's not a real issue, but I'd like to know if it is possible to have.

I have a ViewController with UICollectionView (DraggableCollectionView) and a UILabel below. Is it possible to drag a Cell outside the collection view and detect when it collides with UILabel ?
Currently, Cell goes below the UICollectionView border so it cant go out the collection view.

Rgds,
edcruise.

[2014-01-30 10:26] nicpro85 commented on #27
me too have the same problem since i modified the completition nil and added a method didMoveItemAtIndexPath:toIndexPath

[2014-01-30 10:39] nicpro85 commented on #27
just found the solution.

[code]

[2014-02-09 13:41] faesa opened #34 "How to subclass UICollectionViewLayoutAttributes and use the custom attributes in your extension?"
Hi Luke, it's cool to provide such a great extension, thank you!

I successfully implemented it in my project work. In the same way I've tried to add a jiggling effect and a delete button on each cell when the longPress is fired (exactly the same behavior of iPhone's native Springboard).

To do so I've introduced a trigger (isDeletionModeActive) in viewController.m and it is positioned to YES when

[2014-02-12 12:23] faesa commented on #34
Any answer? ;)

[2014-02-12 17:19] lukescott commented on #34
Hi faesa,

It's hard to know what is wrong without debugging it. For the slowness, If I had to guess it probably has something to do with recalculating the layout while dragging conflicting with the animation.

I am currently working on a major project for my work, and it leaves little time for other projects. As you can see I have a bunch of unresolved issues. I do have an experimental (unfinishe

[2014-02-12 17:31] #14 closed, assigned to lukescott

[2014-02-12 17:31] lukescott commented on #14
Merged this with another issue.

[2014-02-13 13:33] faesa commented on #34
Thanks a lot @lukescott, I'll wait for your future release.

[2014-02-21 04:09] WitzHsiao opened #35 "reloadData issue"
This is a very weird issue.
It works fine in simulator, but not do the same in real iPhone.

I used [collectionView reloadData]; in didMoveItemAtIndexPath, but just the only cell which I moved refreshed. others cell didn't refresh.

please help me, thanks!

[2014-03-01 04:33] gouravgupta72 commented on #15
Hi, I'm using this on xcode-5, but not able to set maximumNumberOfTouches on _panPressGestureRecognizer to 1in LSCollectionViewHelper. I set multiple touch to no on my cell and collection view but still it causes crash.

Is there any other way to avoid this crash...?
Thanks in advance.

[2014-03-19 15:15] wiruzx commented on #35
iOS simulator doesn't reuse cells. I think the bug is hidden here.

[2014-03-19 15:23] wiruzx commented on #33
@lukescott Also, support of moving cells between two UICollectionViews will be great!

[2014-03-19 15:30] wiruzx commented on #25
Try this:

[code]

[2014-03-19 16:12] wiruzx commented on #35
Alright, it's a little bit tricky, but works for me:
The point is calling `reloadData` after some amount of time.

[code]

I don't know, why it works, maybe @lukescott will figure it out.

[2014-03-19 19:57] lukescott commented on #35
The didMoveItemAtIndexPath feature was added by @ndlupine. Looking at it, it may be because didMoveItemAtIndexPath is called inside the completion handler of performBatchUpdates. That code probably should be inside the completion handler of animateWithDuration after invalidateLayout.

If someone wants to debug this and see if moving the code solves the problem, send me a pull request and I'll merg

[2014-03-20 07:59] wiruzx commented on #35
Nope, unfortunately it doesn't help. Exactly same behaviour.

[2014-03-20 23:28] unixpaul opened #36 "Is this a typo in LSCollectionViewHelper.m ?"
Hello,

I'm just playing around with this and noticed what I think is an typo on line 236 of LSCollectionViewHelper.m . This is where the mockcell is created after the long press.
Should line 236 not be  `[cell removeFromSuperview]` instead of
`[mockCell removeFromSuperview]`  since mockCell does not yet exist ?

[code]

[2014-03-20 23:34] lukescott commented on #36
Like 236 is actually redundant. At that point it should be nil. It's there to ensure that if mockCell wasn't removed previously that it is removed (and released) before overwriting the reference with a new one.

You wouldn't do [cell removeFromSuperview] because the cell's lifecycle is managed by the UICollectionView. The LSCollectionViewLayoutHelper is actually what causes the cell to be hidden (

[2014-03-21 02:02] WitzHsiao commented on #35
I found a very tricky thing, not sure if there is helpful.
If I dragged it and then there got issue. and if I try press any cell a while, and just release it, don't move it. Then all cells are got reload.

[2014-03-21 15:40] unixpaul commented on #36
Thanks Luke. Yes, I figured that out after I posted.

[2014-03-21 15:40] #36 closed, assigned to nobody

[2014-04-16 09:18] CraigAppleton opened #37 "Crash/Bug when a second finger is held on the screen"
Hi there,
I have found a crash and some unexpected behaviour which is caused by placing a second finger on the screen. It does not always result in a crash (as it seems to depend on what cell you have selected originally and the location of the second finger press). To cause the issue I begin selecting a cell and move it to a different location. Whilst still holding onto the cell I am moving i the

[2014-04-24 20:38] louistran99 commented on #37
Verified.  I guess I can look into it

[2014-04-27 01:31] allenwang162 opened #38 "Memory keep growing"
I really love this library,thank you!
I have a concern about one issue (I did see my app crashed because of it)  . please help.
--here is how I reproduced it.--
I modified FlowLayoutDemo project and created a new UIViewController( and Converted to UINavigationController) in it.
I placed a single button from the new UIViewController to invoke (push segue) the Draggable UICollectionView, it will inc

[2014-05-07 16:08] kylerobson opened #39 "Cocoapods"
Someone submitted a fork of your project to cocoapods. It seems to be out of date or buggy to me, and I struggled for a while with it before realizing that it was a fork. He submitted it under the name "DraggableCollectionView". Normally I submit forks under DraggableCollectionView@kylerobson or similar. I consider his method borderline dishonest and at least misleading. If you would submit your p

[2014-05-22 22:30] johnqh opened #40 "Customizing cell sizes would crash the dragging"
Simple to reproduce.

In the demo app, in ViewController.m, add the following method:
- (CGSize)collectionView:(UICollectionView _)collectionView layout:(UICollectionViewLayout_)collectionViewLayout sizeForItemAtIndexPath:(NSIndexPath *)indexPath
  {
  return CGSizeMake(indexPath.row == 0 ? 200 : 100, 100);
  }

See screenshot for the layout:

![ios simulator screen shot may 22 2014 3 28 12 pm](ht

[2014-05-25 18:48] oldmancoyote1 opened #41 "Crashes on longPress with more than one section"
This has been wonderfully useful, but when I added a second section, it crashes on a longPress in: - (NSIndexPath *)indexPathForItemClosestToPoint:(CGPoint)point

I suspect that I am missing something really basic in my implementation.  A FlowLayoutDemo with sections would probably clear up my error.

Relevant Code in indexPathForItemClossestToPoint:

[code]

CRASHES HERE-->>>>>>   layoutAttr = [s

[2014-06-03 08:34] roiholtzman commented on #34
Hi faesa,
I'm trying to build the same view you built (springboard view with the jiggling effect and draggable cells.
Can you please explain how you inserted this DraggableCollectionView project into you own project? (I believe we have approximately the same Xcode project).

[2014-06-03 09:07] faesa commented on #34
Hi roiholtzman,
finally I didn't implement the jiggle effect because it is patented by Apple so your app will be rejected for sure if you want to use jiggle effect on cells!
I've only draggable option.
Sorry and good luck.

[2014-06-03 09:26] roiholtzman commented on #34
Hi faesa,
Thank you very much for the answer. This saved me some time.

[2014-06-06 15:46] roiholtzman commented on #34
Hi faesa,
I'm don't know how to use this extension with my custom layout. My layout is subclass of UICollectionViewLayout and I already override the method -(NSArray *)layoutAttributesForElementsInRect:(CGRect)rect.
I'm not sure how to put their method of:
- (NSArray *)layoutAttributesForElementsInRect:(CGRect)rect
  {
  return [self.layoutHelper modifiedLayoutAttributesForElements:[super layoutAt

[2014-06-14 20:13] #41 closed, assigned to nobody

[2014-06-20 18:19] mplackowski commented on #35
"Nope, unfortunately it doesn't help. Exactly same behaviour." ~wiruzx

Well, I have checked that too, and in my project it works as expected. Cells are reloaded properly.

[2014-07-14 12:12] seedante opened #43 "Can't compliant with CoreData + NSFetchedResultsController?"
Hi, luke,
       Thanks for your code. I get a problem when use CoreData + NSFetchedResultsController as data source instead of NSArray.  I use the code:https://github.com/AshFurrow/UICollectionView-NSFetchedResultsController to make UICollectionView works with NSFetchedResultsController just like UITableView together with NSFetchedResultsController.
![2014-07-14 7 24 48](https://cloud.githubuserc

[2014-08-04 18:12] Morkrom commented on #38
Have the same issue.

[[LSCollectionViewHelper alloc] initWithCollectionView:self];  is retaining the collection view. Have tried making _collectionView in LSCollectionViewHelper weak. It almost works except there's a crash with the observer in LSCollectionViewHelper, removing the observer does not simply work.

[2014-08-04 20:38] lukescott commented on #38
This is definitely a retain cycle. @Morkrom It looks like you were on the right track. In theory the helper should be collected along with the collection view given the object association. The helper should be collected first because the collection view owns the helper. Removing the observer in the helper's dealloc should work. If for some reason the collection view is being collected first, that

[2014-08-06 22:44] donaldkwong commented on #38
The UICollectionView instance is deallocated first, which is causing an exception to be thrown because the _collectionView ivar is already nil when the removeObserver is attempted, so the removeObserver doesn't actually do anything.

[2014-08-06 23:32] lukescott commented on #38
Probably the best solution is to throw out the category in favor of a subclass. I actually did that in the experimental branch, but it's vastly different than what's on master (actually contains both version of the code). I was attempting to take a different approach, but I haven't had time to finish it due to lack of time.

With the subclass approach the object association function calls would go

[2014-08-06 23:52] donaldkwong commented on #38
With the subclass approach, the KVO is not needed at all. You can simply reimplement setCollectionViewLayout and add the logic there.

[2014-09-08 21:46] oldmancoyote1 opened #44 "Won't Respond to Long Press in a Collection View Managed by a UIViewController"
I have a collection view contained with in a main view managed by a UIViewController.  This is necessary as there are other views within the main view.  The collection view and it's cells work just fine.  But, I can't get a response to a long press in a cell.

Should I add a long press gesture recognizer and redirect it somewhere?  Or what?

Any help would be appreciated.

Carl Carlson

[2014-09-10 21:51] #44 closed, assigned to nobody

[2014-09-23 15:20] danmartyn commented on #37
Any updates on this? I'm seeing it in my app as well. I can't generate the crash 100% of the time, but it seems if I long press and begin to move an item, then before releasing, tap and hold and try to move another item, it will sometimes crash.

[2014-09-23 20:26] louistran99 commented on #37
https://github.com/lxcid/LXReorderableCollectionViewFlowLayout/pull/77

[2014-10-02 15:08] zttt opened #45 "Xcode gives me errors, parse issue, "expected a type", "unknown type name 'UICollectionView Layout'"..."
Project was created using Xcode 6, Deployment Target 8.0.
![1](https://cloud.githubusercontent.com/assets/8820946/4492936/66c9c5a8-4a45-11e4-91db-87c8ec6b20dc.png)

I tried create a new project using xcode 4.6.3, I worked fine. But when I imported those files to my xcode 6  project, it gives me errors. Does anybody know why?

[2014-10-06 10:59] fruitcoder opened #46 "Cannot get Flow Layout working under iOS 8"
I tried to use your DraggableCollectionView for one of my projects, where we wanted to implement an item reorder feature. Your demo looks amazing, the live-reordering of cells and the automatic scrolling at the edges. Unfortunately, I cannot get it to work in my project. I refactored the Storyboard/Code to use the same structure as in your FlowLayout example. A VC with a CollectionView, conforming

[2014-10-07 20:07] JaredPoetter commented on #40
I am doing the same sort of thing with each cell having a different size. So I am wondering if this is not an issue with the DraggableCollectionView.

What kind of exception are you getting? Because I am getting one about the index is out of bounds because something is trying to access the count of the array which would be one more than is present. It is doing that for any of the cells in the coll

[2014-10-13 20:46] drost commented on #45
I had the same problem. What I found was that an import of UIKit.h was missing from LSCollectionViewLayoutHelper.h. So just add
_#import <UIKit/UIKit.h>_
to the top of that file and your good to go.
The reason it works with the included example project is because it uses a prefix header containing that include. Was a bit tricky to find because of all the "random" errors.

[2014-10-16 11:56] gconno commented on #27
@ro6inhoddie @nicpro85  how did you track down this warning? I am getting this in another project and am struggling to trace it because it does not crash etc.

[2014-10-29 15:55] martinlockett commented on #35
I see this problem if I flick an item to another location in the UICollectionView

[2014-10-29 16:26] martinlockett commented on #35
PR #42 fixes this (or will when it's merged)

[2014-11-20 02:59] chewedon commented on #15
gouravgupta72,

I found out the problem why you can't set `maximumNumberOfTouches`.

In `LSCollectionViewHelper`'s `initWithCollectionView`, you have this:

[code]

However, if you check the _LSCollectionViewHelper.h_ file, you'll see `panPressGestureRecognizer` is declared as:

[code]

I simply changed this to:

[code]

Then I'm able to set:

[code]

Not sure what effect this has on the draggable

[2014-11-22 18:08] alessandro-martin commented on #25
Thanks wiruzx, that solved the problem. It also prevents from selecting a nearby cell if touching empty space which is (usually) the desirable behaviour.

[2014-11-29 20:48] emredogukaya opened #48 "How to delete when dragging item out of view"
Hello,
Is there a feature or planned feature to delete item when user drags the selected item out of collection view?
Thanks in advance
E.

[2014-12-20 08:50] pakmee opened #49 "DraggableCollectionView + NSFetchedResultsController"
Anyone tried using the NSfetchedresultscontroller with it? Everytime I move stuff around, it behaves oddly, i.e things get duplicates , don't refresh etc..  Also noticed that the following gets called NSFetchedResultsChangeMove which causes the animation to look really wonky.

[2014-12-26 17:40] sahil263 opened #50 "How to resize when dragging."
@lukescott Please help...
# My Requirement:

My requirement is to achieve, what is displayed in the following image.
![img_1](https://cloud.githubusercontent.com/assets/4958184/5558586/33340ce8-8d53-11e4-9ef3-0548c412d753.png)

I am able to modify the UICollectionView appearance. But, when I drag the big cell to position of small cell the big cell size changes to small or verse versa. Which I don'

[2014-12-26 17:52] lukescott commented on #50
The version on the master branch basically exchanges places and doesn't update the size. That's why you see this behavior. It has to do with how it exchanges, and that isn't fixable, due to the implementation.

There is, however, an experimental branch where I started to re-impelement flow layout for this purpose, which does the rearranging at a lower level. I believe I got as far as picking up an

[2015-02-12 16:43] bartoszhernas commented on #40
Anyone tried to solve this issue? I am having the same problems

[2015-02-12 17:07] bartoszhernas commented on #18
Luke, I think you used function wrong way:
https://developer.apple.com/library/ios/documentation/UIKit/Reference/UICollectionViewLayout_class/index.html#//apple_ref/occ/instm/UICollectionViewLayout/layoutAttributesForItemAtIndexPath:

[code]

You are in `LSCollectionViewHelper` asking for cell with index that equals to number of items in collection view (so basically you are asking for not existin

[2015-02-12 17:13] bartoszhernas commented on #18
Stack:

[code]

[2015-02-12 17:36] bartoszhernas commented on #18
I found easy way to reproduce it on demo, it all happens when cellSize is not static

This added to ViewController in demo crashes:

[code]

But this is not:

[code]

My guess is that internal implementation of FlowLayout is caching sizes for not static sizing. I will try to fix this issue tomorrow and will create pull request. Fix is needed only in two places and should not be hard.

[2015-02-12 17:53] lukescott commented on #18
@bartg If you're talking about the master branch, different cell sizes don't work. The reason is how it is implemented. Best case the cell takes on the size of the old cell in the new position.

I do, however, have an incomplete experimental branch that supports differing cell sizes, but it's a bit ambitious as it requires re-implementing Apple's Flow layout. Since this was a hobby project for me

[2015-02-12 18:01] bartoszhernas commented on #18
I have just learned that its not possible. But even the current implementation its not working correctly with sections: if you add item to last line in section and new line should be created, the items animate below additional section)

Unfortunately in my case I have to use it at work and I checked `LXReorderableCollectionViewFlowLayout` solution and in this case it just works and I will switch t

[2015-02-12 18:04] bartoszhernas commented on #18
I will make PR that fixes crash keeping the functionality in few minutes

[2015-02-12 18:16] bartoszhernas commented on #18
https://github.com/lukescott/DraggableCollectionView/pull/51

[2015-02-16 10:53] angelvasa commented on #15
Just add below code snippet in LSCollectioViewHelper and you are done.

[code]

[2015-03-24 18:18] ghost commented on #37
here's a fix:
in LSCollectionViewHelper.h, change  this:
@property (nonatomic, readonly) UIGestureRecognizer *panPressGestureRecognizer;
to this:
@property (nonatomic, readonly) UIPanGestureRecognizer *panPressGestureRecognizer;
then add this to line 67 LSCollectionViewHelper.m:
        _panPressGestureRecognizer.maximumNumberOfTouches = 1;

[2015-03-26 12:11] MustafaHashem opened #53 "how to swab two cells without reordering?"
Hello,
how could I swab two cells without reordering the other cells
for example:
I have the cells below:
123
456
789

After swapping cell no.6 with cell no.9 it should become
123
459
786

[2015-04-05 06:34] hachinobu commented on #25
@wiruzx Thanks wiruzx, It was a tremendous help.

[2015-06-30 04:26] ahsolanki commented on #27
I have issue with UIImagePickerController, when I open the camera in my app. I get message "Received Memory Warning" and then gets this message like < Snapshotting a view that has not been rendered results in an empty snapshot. Ensure your view has been rendered at least once before snapshotting or snapshot after screen updates. >

guys please help to solve this problem

[2015-07-07 02:17] 03128crz commented on #45
cause xcode6 don't create pch file ,so you need to import <UIKit/UIkit.h>

[2015-07-07 07:31] liuxuan30 opened #55 "Does it support horizontal scroll collection view?"
Does it support horizontal scroll collection view?

[2015-07-07 11:15] liuxuan30 commented on #38
have this been solved?

[2015-07-07 11:18] liuxuan30 opened #56 "cannot scroll while dragging to bottom"
I have lots of cells out side of the screen, and while dragging, when I drag one cell to the bottom of the screen, the UICollectionView cannot scroll slowly to more cells.

However, the demo can achieve so. I am not sure what I missed?

[2015-07-28 23:41] ohayon commented on #27
I am also getting this in my own code now. @nicpro85- would you mind sharing how you tracked down that issue?

[2015-09-10 07:50] turboz747 opened #58 "iOS9 it become unstable move when drag"
I tested it under iOS9 beta / iphone6 Plus,
When I drag one item, neighboring items will move weirdly when I move dragged item to other place.
It seems compute the wrong coordinate in iOS9.0 beta.

[2015-09-12 13:51] chenkun24 commented on #58
See my fork.

[2015-09-18 00:16] jspavlick commented on #58
Nice work @chenkun24 !

[2015-09-18 01:38] jazzychad commented on #58
+1, thank you @chenkun24 for fixing this!

[2015-10-04 01:37] claygarrett commented on #58
@chenkun24 you're my hero!

[2015-11-01 13:16] mmick66 commented on #30
Although a late reply, I have developed a similar solution, so it might be interesting to join forces on this one. Have a look at my repo...

[2015-11-19 02:03] huangjw commented on #58
@chenkun24 Thanks!

[2015-11-19 03:30] ban9ban3 opened #60 "How can I use this Layout in Swift project?"
I'm try to import : #import "UICollectionView+Draggable.h"

But it have this error

![screen shot 2015-11-19 at 10 26 09](https://cloud.githubusercontent.com/assets/10986151/11261542/28a9213a-8ea8-11e5-83ca-84b15913d363.png)

Anyone, help me pls!!!

[2015-12-11 21:06] caseyjmorton commented on #27
Bump, me too!!!

[2016-01-04 11:52] jxgolovin commented on #58
@chenkun24 Thank you!

[2016-03-22 11:02] alex-yushchenko commented on #58
@chenkun24 You Sir are a Legend! Thanks!

[2016-04-15 09:29] martintjandra commented on #60
You can't. Although Swift and Obj C is from the same Xcode, there are rules to mix them up. In this case, you need to create bridging header.

http://www.ios-blog.co.uk/tutorials/objective-c/how-to-create-an-objective-c-bridging-header/

[2016-05-10 07:18] #45 closed

[2016-07-14 18:48] alessandropetrolati opened #61 "Cells reordering does not work in iOs 10"
Hello everybody, I've discovered an issue in xCode 8.0 beta 2 (iOs 10 sdks).
I can't drag the cells anymore, it think is something related to _panPressGestureRecognizer in LSCollectionViewHelper.m.
Someone could help to fix it?
Thanks.

[2016-07-14 20:20] alessandropetrolati commented on #61
A workaround is to comment:

`- (id)initWithCollectionView:(UICollectionView *)collectionView {
...

//        for (UIGestureRecognizer *gestureRecognizer in _collectionView.gestureRecognizers) {
//            if ([gestureRecognizer isKindOfClass:[UILongPressGestureRecognizer class]]) {
//                [gestureRecognizer requireGestureRecognizerToFail:_longPressGestureRecognizer];
//

[2016-07-15 00:26] liuxuan30 commented on #61
I believe iOS 10 UICollectionView already supports this

[2016-09-02 01:16] Altaibaatar commented on #61
Long press gesture is not working here too after upgrade to iOS 10.

[2016-09-02 01:40] Altaibaatar commented on #61
Hello, @alessandropetrolati
I have a same issue after upgrade to iOS 10.
Did you fix it? Can commenting those lines solve the problem?
Thank you.

[2016-09-02 08:16] alessandropetrolati commented on #61
Hello,
do you mean iOs 10 beta?

The current version of Moebius (on the store) is affected by this problem on iOs 10 but I’ve fixed and there is a new version waiting for release.
Have you the last beta? Could you send me your Apple mail ID, so i can include you as beta tester.
Thanks for support and est regards
ape

---

Alessandro Petrolati
Loc. Acquaviva, 33
61043 Cagli/PU
Italy

www.apesoft.it

[2016-09-02 08:58] alessandropetrolati commented on #61
I’ve solved (temporarily) by comment this code in the LSCollectionViewHelper.m
- (id)initWithCollectionView:(UICollectionView *)collectionView
  {
  self = [super init];
  if (self) {
      _collectionView = collectionView;
      [_collectionView addObserver:self
                        forKeyPath:@"collectionViewLayout"
                           options:0
                           context:&kObs

[2016-09-03 02:07] Altaibaatar commented on #61
Thank you for your reply. I did mean public beta. But yesterday I returned to the iOS 9 due to so many bugs of the iOS 10 beta. By the way, I couldn't find the app named Moebius. (from Japanese app store)

Thanks.

[2016-09-06 02:34] qiaobiao commented on #61
iOS10 not press move, how to solve?

[2016-09-06 02:58] qiaobiao commented on #61
Hello, @alessandropetrolati
I also encountered a long press gesture can not move cell problems. I read your solution, you are proven no problem, right? Thank you！

[2016-09-06 06:00] alessandropetrolati commented on #61
Hello, this wokaround solved the problem for me
Cheers

Inviato dall'iPhone di ape~

[2016-09-06 06:07] qiaobiao commented on #61
Thank you very much@alessandropetrolati,It has been resolved。

[2016-09-14 18:07] jspavlick commented on #61
Testing in the simulator, it is safe to comment out this code for iOS 8, 9, and 10. Which, I was quite surprised at. Why was this code even included in the first place?

[2016-09-20 15:42] sgoehler commented on #61
I think I know why it was there in the first place - the "fix" by commenting out renders nested draggable collection views unusable or at least unreliable. The code was there to handle a collectionview within a collectionview - only if the containing collection view fails to drag, the contained collection view will be asked.

[2016-09-20 17:11] sgoehler commented on #61
Okay, my guess was wrong. It's not about nested collectionViews, it's probably only about other long press recognizers in the collection view. The reason why the commented out code didn't work any longer was probably because the long press gesture recognizer required itself to fail. This may have been ignored in previous iOS versions, but is not any longer with iOS 10.
My suggestion to correct the

[2016-09-22 19:17] alessandropetrolati commented on #61
Hello, its working for me and its a better solution,
thanks.

---

Alessandro Petrolati
Loc. Acquaviva, 33
61043 Cagli/PU
Italy

www.apesoft.it http://www.apesoft.it/
info@apesoft.it

## apps@apesoft.it mailto:info@alessandro-petrolati.it

[2016-09-28 16:42] alauf-ap commented on #61
For those who are facing this issue, I've created a fork of DraggableCollectionView which includes @sgoehler fix and other iOS 9 fixes.

[DraggableCollectionView](https://github.com/alauf/DraggableCollectionView)

[2016-10-26 07:38] blaaat commented on #61
@alauf-ap Works great! Thanks.

[2017-03-27 09:10] bidm opened #62 "support item move and combine like iOS system APPitems"
hello
       i want some demo like ios system desktop apps . it can move and combine to one item. thank you！

[2017-11-27 21:19] rickrvo commented on #61
@alauf-ap thank you!!! your fork should be merged in the master branch. And thanks for the fix @sgoehler!